/*======================= Colors ======================= */

$dark-text: #323232;
$secondary-text: #AFAFAF;
$light-text: #FFF;

$dark-background-color: #323232;
$light-background-color: #FFF;
$light-background-color-alt: #FAFAFA;

$border-color: #E1E1E1;

/*======================= Media Breakpoints ======================= */

$desktop: 1280px;
$tablet: 768px;
$mobile:320px;

