/*======================= Colors ======================= */
/*======================= Media Breakpoints ======================= */
@font-face {
  font-family: "Avenir Next";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 700;
  font-size: larger;
}
html,
body,
main {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", Tahoma, sans-serif;
}

#page1 .link1 {
  color: #fff;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  #page1 .link1 {
    border-bottom: 2px solid;
    margin-bottom: 4px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  #page1 .link1 {
    -webkit-text-decoration: underline white 0.15rem;
            text-decoration: underline white 0.15rem;
    text-underline-offset: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  #page1 .link1 {
    border-bottom: 4px solid;
    padding-bottom: 1.28rem;
  }
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    padding: 1rem 1rem 0rem 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding: 1rem 1rem 1rem 8rem;
  }
}
.header__logo {
  min-width: 7.5rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 3rem;
  }
}
.header__link-container {
  display: flex;
  height: 3.25rem;
  width: 100%;
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  .header__link-container {
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 0.5rem;
  }
}
.header__link-item {
  text-decoration: none;
  flex-basis: 50%;
  color: #afafaf;
}
@media screen and (min-width: 768px) {
  .header__link {
    margin-right: 3rem;
    font-size: 0.9rem;
    padding-bottom: 3.25rem;
  }
}
.header__link-text {
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
}

.hero {
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  height: 60vw;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 50vw;
    max-height: 40rem;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 50vw;
    max-height: 40rem;
  }
}
@media screen and (min-width: 320px) {
  .hero {
    height: 50vw;
    max-height: 40rem;
  }
}
.hero__header {
  color: #fff;
  font-size: 7.5vw;
  font-weight: 600;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__header {
    font-size: 3.75rem;
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__header {
    padding-left: 8rem;
  }
}

.about {
  color: #323232;
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 2rem 0;
  }
}
.about__header {
  font-size: 7vw;
  font-weight: 600;
  margin: 1rem;
}
@media screen and (min-width: 320px) {
  .about__header {
    font-size: 1.85rem;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .about__header {
    font-size: 2.25rem;
    margin-left: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__header {
    margin-left: 8rem;
  }
}
.about__container {
  margin: 0 1rem;
}
@media screen and (min-width: 768px) {
  .about__container {
    margin: 0 6rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__container {
    margin: 0 12rem;
  }
}
.about__image {
  width: 100%;
  height: 55vw;
}
@media screen and (min-width: 768px) {
  .about__image {
    height: 45vw;
  }
}
@media screen and (min-width: 1280px) {
  .about__image {
    height: 40vw;
  }
}
.about__image-subtext {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .about__image-subtext {
    font-size: 1.5rem;
    line-height: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .about__image-subtext {
    width: 80%;
  }
}
.about__image-subtext-source {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 22px;
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .about__image-subtext-source {
    font-size: 1rem;
    line-height: 32px;
  }
}
.about__subheader {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 22px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .about__subheader {
    font-size: 1.5rem;
    margin: 3rem 0 1rem 0;
  }
}
.about__text-container {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .about__text-container {
    display: flex;
    justify-content: space-between;
  }
}
.about__text {
  font-size: 0.8rem;
  line-height: 18px;
}
@media screen and (min-width: 768px) {
  .about__text {
    font-size: 1rem;
    line-height: 22px;
    width: 47%;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 320px) {
  .about__text {
    padding-right: 0.1rem;
    width: 45%;
  }
}

.gallery {
  background-color: #fafafa;
  padding: 0.5rem 1rem 0.75rem 1rem;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding: 2rem 2.25rem 0.75rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding: 2rem 8rem 0.75rem 8rem;
  }
}
.gallery__header {
  font-size: 7vw;
  font-weight: 600;
}
@media screen and (min-width: 320px) {
  .gallery__header {
    font-size: 1.85rem;
  }
}
@media screen and (min-width: 768px) {
  .gallery__header {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 768px) {
  .gallery__header {
    margin: 0 1.5rem 1.5rem 0;
    width: 30%;
  }
}
.gallery__image-container {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 320px) {
  .gallery__image-container {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .gallery__image-container {
    justify-content: center;
  }
}
.gallery__image {
  width: auto;
  margin-bottom: 1rem;
}
@media screen and (max-width: 767px) {
  .gallery__image {
    margin: 0 1.5rem 1.5rem 0;
    width: 30%;
  }
}
@media screen and (min-width: 768px) {
  .gallery__image {
    margin: 0 1.5rem 1.5rem 0;
    width: 29.9%;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__image {
    margin: 0 1.5rem 1.5rem 0;
    width: 29.9%;
  }
}

.footer {
  background-color: #323232;
  padding: 0.5rem 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 2rem 2.25rem;
    position: relative;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 2rem 8rem;
  }
}
.footer__social, .footer__social-header {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  display: flex;
}
@media screen and (min-width: 768px) {
  .footer__social, .footer__social-header {
    font-size: 2.25rem;
    margin-top: 0.5rem;
  }
}
.footer__social-icon {
  padding-left: 40px;
}
.footer__contact {
  margin: 1.5rem 0 3rem 0;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: flex-start;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contact {
    width: 70%;
  }
}
.footer__contact-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-right: 2rem;
}
.footer__contact-name {
  font-weight: 600;
  line-height: 24px;
  padding-right: 2rem;
}
.footer__contact-text {
  line-height: 24px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer__contact-text {
    margin: 1rem 0;
  }
}
.footer__contact-hyperlink {
  text-decoration: none;
}
.footer__contact-email {
  color: #fff;
}
.footer__logo {
  width: 7.5rem;
  padding-top: 2.6rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    position: absolute;
    top: 3.75rem;
    right: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    right: 8rem;
  }
}
.footer__copyright {
  font-size: 0.7rem;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 0.9rem;
  }
}

.comments {
  color: #323232;
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .comments {
    padding: 2rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .comments {
    display: flex;
    flex-direction: column;
  }
}
.comments__header {
  font-size: 7vw;
  font-weight: 600;
  margin: 0.5rem 0 1rem 1rem;
}
@media screen and (min-width: 425px) {
  .comments__header {
    font-size: 1.85rem;
  }
}
@media screen and (min-width: 768px) {
  .comments__header {
    font-size: 2.25rem;
    margin: 1rem 0 2rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments__header {
    margin-left: 8rem;
  }
}
.comments__container {
  margin: 0 1rem;
}
@media screen and (min-width: 768px) {
  .comments__container {
    margin: 0 6rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments__container {
    width: 40%;
    align-self: center;
  }
}
.comments__form-intake {
  display: flex;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .comments__form-intake {
    padding-bottom: 2rem;
  }
}
.comments__form-avatar {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 20% 50%;
     object-position: 20% 50%;
  margin: 1rem 0.75rem 0 0;
}
@media screen and (min-width: 768px) {
  .comments__form-avatar {
    height: 3rem;
    width: 3rem;
    margin-top: 1.5rem;
  }
}
.comments__input-div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.comments__label {
  font-size: 0.75rem;
  font-weight: 600;
  color: #afafaf;
}
@media screen and (min-width: 768px) {
  .comments__label {
    font-size: 1rem;
  }
}
.comments__input {
  background-color: #fafafa;
  height: 2.25rem;
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  padding-left: 0.5rem;
  margin: 0.25rem 0 1.25rem 0;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .comments__input {
    height: 3rem;
    font-size: 1rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
  }
}
.comments__input-box-height {
  height: 7rem;
  padding-bottom: 4.5rem;
}
@media screen and (min-width: 768px) {
  .comments__input-box-height {
    padding-bottom: 3.5rem;
  }
}
.comments__button {
  width: 100%;
  height: 2.75rem;
  background-color: #323232;
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .comments__button {
    width: 35%;
    align-self: flex-end;
  }
}

.comment__card {
  border-bottom: 1px solid #e1e1e1;
}

.comment__text-wrapper {
  padding: 10px;
}
@media (min-width: 768px) {
  .comment {
    width: 60vw;
    height: 10vw;
  }
}
@media (min-width: 1280px) {
  .comment {
    width: 40vw;
    height: 20vh;
  }
}
.comment__name {
  display: flex;
  align-items: center;
}
.comment__name-txt {
  color: #323232;
}
.comment__date {
  margin-left: auto;
  color: #afafaf;
}
.comment__body-txt {
  padding-left: 4rem;
  margin-top: 0px;
}

.avatar__div {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  margin: 1rem 1rem 0 0;
}
.avatar__div > img {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 20% 50%;
     object-position: 20% 50%;
  margin: 1rem 0.75rem 0 0;
}
@media screen and (min-width: 768px) {
  .avatar__div {
    height: 3rem;
    width: 3rem;
    margin-top: 1.5rem;
  }
  .avatar__div > img {
    height: 3rem;
    width: 3rem;
  }
}/*# sourceMappingURL=bio.css.map */