@use './partials/variables' as *;
@use './partials/global' as *;
@use './partials/mixins' as *;
@use './partials/fonts' as *;

html,
body,
main {
	margin: 0;
	padding: 0;
	font-family: 'Avenir Next', Tahoma, sans-serif;
}

.main {
	padding-bottom: 1rem;
}

#page2 .link2 {
	color: $light-text;
	font-weight: 600;

	@media screen and (max-width: 767px) {
		border-bottom: 2px solid;
		margin-bottom: 4px;
	}
	@media screen and (min-width: $tablet) and (max-width: 1279px) {
		text-decoration: underline white 0.15rem;
		text-underline-offset: 1.5rem;
	}
	@media screen and (min-width: $desktop) {
		border-bottom: 4px solid;
		padding-bottom: 1.28rem;
	}
}

.header {
	background-color: $dark-text;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 1rem;

	@media screen and (min-width: $tablet) {
		flex-direction: row;
		padding: 1rem 1rem 0rem 2rem;
	}

	@media screen and (min-width: $desktop) {
		padding: 1rem 1rem 1rem 8rem;
	}

	&__logo {
		min-width: 7.5rem;

		@media screen and (min-width: $tablet) {
			margin-right: 3rem;
		}
	}

	&__link-container {
		display: flex;
		height: 3.25rem;
		width: 100%;
		align-items: baseline;

		@media screen and (min-width: $tablet) {
			width: -webkit-fit-content;
			width: -moz-fit-content;
			width: fit-content;
			margin-bottom: 0.5rem;
		}
	}

	&__link-item {
		text-decoration: none;
		flex-basis: 50%;
		color: $secondary-text;
	}

	&__link {
		@media screen and (min-width: $tablet) {
			margin-right: 3rem;
			font-size: 0.9rem;
			padding-bottom: 3.25rem;
		}
	}

	&__link-text {
		text-align: center;
		padding-right: 20px;
		padding-left: 20px;
	}
}

.hero {
	background-image: linear-gradient(
			rgba(50, 50, 50, 0.5),
			rgba(50, 50, 50, 0.5)
		),
		url(../assets/images/hero-shows.jpg);
	background-position: center;
	background-size: cover;
	min-height: 20rem;
	row-gap: 2rem;
	column-gap: 2rem;
	display: flex;

	@media screen and (min-width: $mobile) {
		flex-direction: column;
		min-height: 25rem;
		align-items: flex-start;
		justify-content: center;
		padding: 0 0rem 0 1rem;
	}
	@media screen and (min-width: $tablet) and (max-width: 1279px) {
		flex-direction: column;
		min-height: 30rem;
		padding: 0 0rem 0 1rem;
	}

	@media screen and (min-width: $desktop) {
		flex-direction: row;
		align-items: center;
		column-gap: 3rem;
		justify-content: space-between;
		padding: 0 7rem 0 5rem;
		height: 50vw;
		max-height: 40rem;
	}

	&__subheader {
		font-family: 'Avenir Next';
		color: $light-text;
		margin: 0rem 0rem 1.5rem 1rem;

		@media screen and (min-width: $mobile) {
			font-size: 1rem;
			flex-wrap: wrap;
			letter-spacing: 0.5px;
		}
		@media screen and (min-width: $tablet) and (max-width: 1279px) {
			font-size: 1.2rem;
			flex-wrap: wrap;
		}
		@media screen and (min-width: $desktop) {
			font-size: 1.5rem;
			flex-wrap: wrap;
			padding-left: 1.5rem;
		}
	}

	&__header {
		font-family: 'Avenir Next';
		color: $light-text;
		margin: 0rem 0rem 1.5rem 1rem;
		width: 300px;

		@media screen and (min-width: $mobile) {
			font-size: 2rem;
			flex-wrap: wrap;
			width: 300px;
			font-weight: 700;
			letter-spacing: 1px;
		}
		@media screen and (min-width: $tablet) and (max-width: 1279px) {
			font-size: 2.9rem;
			flex-wrap: wrap;
			width: 420px;
			letter-spacing: 0.14rem;
		}
		@media screen and (min-width: $desktop) {
			font-size: 3rem;
			letter-spacing: 0.14rem;
			width: 400px;
			font-weight: 800;
			padding: 0 1.5rem 1.5rem;
		}
	}

	&__iframe-container {
		display: flex;
		justify-content: center;
		flex-direction: column;

		&__iframe {
			border-radius: 0.25rem;
			box-shadow: 0.25rem 0.25rem 1rem black;
			zoom: 0.75;
		}
		@media screen and (min-width: $mobile) {
			width: 90%;
		}

		@media screen and (min-width: $tablet) {
			width: 50%;
			padding: 0 0rem 0 1rem;
		}

		@media screen and (min-width: 1024px) {
			width: 40%;
			padding: 0 0 3rem 0;
		}

		@media screen and (min-width: $desktop) {
			width: 40%;
		}
	}
}

/* Style for the table container */
.shows__section {
	color: $dark-text;
	margin: 1rem 0;

	@media screen and (min-width: $tablet) {
		margin: 3rem 0 2rem 0;
	}

	@media screen and (min-width: $desktop) {
		display: flex;
	}
}

.shows {
	font-size: 7vw;
	font-weight: 700;
	margin: 1rem;

	@media screen and (min-width: $mobile) {
		font-size: 1.85rem;
		margin-bottom: 1rem;
		padding: 1.5rem 0 0 1rem;
	}

	@media screen and (min-width: $tablet) {
		font-size: 2.25rem;
		padding: 1rem 0 2rem 1rem;
	}

	@media screen and (min-width: $desktop) {
		margin: 0 8rem;
	}

	&__wrapper {
		margin: 0 1rem;
		display: flex;
		flex-direction: column;

		@media screen and (min-width: $desktop) {
			flex-grow: 1;
			margin-right: 6rem;
		}
	}

	&__header-container {
		display: flex;

		@media screen and (min-width: $tablet) {
			display: flex;
		}

		@media screen and (min-width: $desktop) {
			justify-content: space-between;
			padding: 2.5rem 20rem 2.5rem 0;
		}
	}

	&__header {
		color: $secondary-text;
		font-size: 0.75rem;
		margin: 0;
		flex: 0.3;
		font-weight: bold;
		display: flex;

		@media screen and (min-width: $desktop) {
			font-size: 1.1rem;
			align-content: center;
		}

		@media screen and (min-width: $tablet) {
			flex-direction: row;
			justify-content: space-around;
		}

		&--media {
			@media screen and (min-width: $tablet) and (max-width: 1279px) {
				display: flex;
				justify-content: flex-start;
				margin-left: 1rem;
				margin-right: 4rem;
				flex-grow: 0.2;
			}
			@media screen and (max-width: 767px) {
				display: none;
			}
		}
	}

	&__card {
		padding: 1rem;
		border-bottom: 1px solid $border-color;

		@media screen and (min-width: $tablet) {
			justify-content: space-between;
			display: inline-flex;
			align-items: baseline;
		}

		/* Style for the selected row */
		&.selected {
			background-color: #f1f1f1;
		}

		/* Style for the hovered row */
		&.hovered {
			background-color: #e2e2e2;
		}
	}

	&__date {
		color: $secondary-text;
		font-weight: 700;
		padding: 0.5rem 0 0.5rem 0;

		@media screen and (min-width: $mobile) {
			font-size: 0.85rem;
		}
		@media screen and (min-width: $tablet) {
			display: none;
		}
		@media screen and (min-width: $desktop) {
			display: none;
		}
	}

	&__date-text {
		font-weight: 700;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		@media screen and (min-width: $mobile) {
			padding-bottom: 0.5rem;
			padding-top: 0px;
		}
	}

	&__venue {
		color: $secondary-text;
		font-weight: 700;
		padding: 0.5rem 0 0.5rem 0;

		@media screen and (min-width: $tablet) {
			display: none;
		}
		@media screen and (min-width: $desktop) {
			display: none;
		}
	}

	&__venue-text {
		@media screen and (min-width: $mobile) {
			font-weight: 600;
			padding-bottom: 0.5rem;
		}
		@media screen and (min-width: $tablet) {
			font-size: 90%;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			width: fit-content;
		}
	}

	&__location {
		color: $secondary-text;
		font-weight: 700;
		display: flex;
		padding: 0.5rem 0 0.5rem 0;

		@media screen and (min-width: $tablet) {
			display: none;
		}
		@media screen and (min-width: $desktop) {
			display: none;
		}
	}

	&__location-text {
		@media screen and (min-width: $mobile) {
			font-weight: 600;
			padding: 0.5rem 0 1.7rem 0;
		}
		@media screen and (min-width: $tablet) {
			font-size: 90%;
			display: flex;
			justify-content: flex-start;
			flex-direction: row;
			justify-content: space-evenly;
			width: 150px;
			place-content: stretch;
			width: fit-content;
		}
	}

	&__button-cell {
		display: flex;
		align-items: center;
		justify-content: center;

		@media screen and (min-width: $tablet) {
			margin-top: 1rem;
		}
	}

	/* Style for the "Buy Tickets" button */
	&__button {
		width: 100%;
		height: 2.75rem;
		background-color: $dark-background-color;
		color: $light-text;
		font-size: 1rem;
		border-radius: 4px;

		@media screen and (min-width: 767px) {
			font-size: 1.2rem;
			height: 50px;
			width: 100%;
			font-weight: 600;
		}
		@media screen and (min-width: $tablet) {
			width: auto;
			min-width: fit-content;
			padding: 0 2rem;
		}

		@media screen and (min-width: $desktop) {
		}
	}
}

.footer {
	background-color: $dark-text;

	@media screen and (min-width: $mobile) {
		padding: 0.5rem 1rem;
	}
	@media screen and (min-width: $tablet) {
		padding: 2rem 0rem 2rem 1rem;
		position: relative;
	}

	@media screen and (min-width: $desktop) {
		padding: 3rem 4rem 3rem 4rem;
	}

	&__social,
	&__social-header {
		color: $light-text;
		font-size: 1.6rem;
		font-weight: 600;

		@media screen and (min-width: $mobile) {
			margin-bottom: 0.75rem;
		}

		@media screen and (min-width: $tablet) {
			font-size: 2.25rem;
			display: inline-flex;
			align-items: baseline;
			margin-bottom: 0rem;
		}

		@media screen and (min-width: $desktop) {
			margin-bottom: 0.75rem;
		}
	}
	#footerHeader {
		@media screen and (min-width: $tablet) {
			margin: 1rem 0 0 0;
			padding: 0 0.5rem 0 1rem;
			display: inline-flex;
		}
		@media screen and (min-width: $desktop) {
			margin: 1rem 0 0 0;
			padding: 0 2.5rem 0 1.5rem;
			display: inline-flex;
		}
	}
	&__social-icon {
		@media screen and (min-width: $mobile) {
			width: 2.4rem;
			height: 1.6rem;
			padding: 0 1rem 0 0;
		}
		@media screen and (min-width: $tablet) {
			width: 2.2rem;
			height: 1.5rem;
			padding: 0 0rem 0 1rem;
		}
		@media screen and (min-width: $desktop) {
		}
	}

	&__contact {
		margin: 1.5rem 0 0rem 0;
		color: $light-text;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		justify-content: flex-start;
		flex-wrap: wrap;

		@media screen and (min-width: $tablet) {
			flex-direction: row;
			justify-content: space-between;
			font-size: 0.9rem;
			display: inline-flex;
			padding: 0.3rem;
		}

		@media screen and (min-width: $desktop) {
			width: 70%;
		}
	}

	&__contact-container {
		display: flex;
		flex-direction: column;
		align-items: baseline;
		padding-right: 2rem;

		@media screen and (min-width: $tablet) {
			display: flex;
			padding: 1rem;
		}
	}

	&__contact-name {
		font-weight: 600;
		line-height: 24px;
		padding-right: 2rem;
	}

	&__contact-text {
		line-height: 24px;
		margin: 0;

		@media screen and (min-width: $tablet) {
			margin: 1rem 0;
		}
	}

	&__contact-hyperlink {
		text-decoration: none;
	}

	&__contact-email {
		color: $light-text;
	}

	&__logo {
		width: 7.5rem;
		padding-top: 2.6rem;

		@media screen and (min-width: $tablet) {
			position: absolute;
			top: 3.75rem;
			right: 2.25rem;
			padding: 0 0 0 0;
		}

		@media screen and (min-width: $desktop) {
			right: 8rem;
		}
	}

	&__copyright {
		font-size: 0.7rem;
		color: $light-text;

		@media screen and (min-width: $mobile) {
		}
		@media screen and (min-width: $tablet) {
			font-size: 0.9rem;
			padding-left: 1.2rem;
		}
		@media screen and (min-width: $desktop) {
		}
	}
}
