/*======================= Colors ======================= */
/*======================= Media Breakpoints ======================= */
@font-face {
  font-family: "Avenir Next";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 700;
  font-size: larger;
}
html,
body,
main {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", Tahoma, sans-serif;
}

.main {
  padding-bottom: 1rem;
}

#page2 .link2 {
  color: #fff;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  #page2 .link2 {
    border-bottom: 2px solid;
    margin-bottom: 4px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  #page2 .link2 {
    -webkit-text-decoration: underline white 0.15rem;
            text-decoration: underline white 0.15rem;
    text-underline-offset: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  #page2 .link2 {
    border-bottom: 4px solid;
    padding-bottom: 1.28rem;
  }
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    padding: 1rem 1rem 0rem 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding: 1rem 1rem 1rem 8rem;
  }
}
.header__logo {
  min-width: 7.5rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 3rem;
  }
}
.header__link-container {
  display: flex;
  height: 3.25rem;
  width: 100%;
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  .header__link-container {
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 0.5rem;
  }
}
.header__link-item {
  text-decoration: none;
  flex-basis: 50%;
  color: #afafaf;
}
@media screen and (min-width: 768px) {
  .header__link {
    margin-right: 3rem;
    font-size: 0.9rem;
    padding-bottom: 3.25rem;
  }
}
.header__link-text {
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
}

.hero {
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/images/hero-shows.jpg);
  background-position: center;
  background-size: cover;
  min-height: 20rem;
  row-gap: 2rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  display: flex;
}
@media screen and (min-width: 320px) {
  .hero {
    flex-direction: column;
    min-height: 25rem;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0rem 0 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero {
    flex-direction: column;
    min-height: 30rem;
    padding: 0 0rem 0 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    flex-direction: row;
    align-items: center;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    justify-content: space-between;
    padding: 0 7rem 0 5rem;
    height: 50vw;
    max-height: 40rem;
  }
}
.hero__subheader {
  font-family: "Avenir Next";
  color: #fff;
  margin: 0rem 0rem 1.5rem 1rem;
}
@media screen and (min-width: 320px) {
  .hero__subheader {
    font-size: 1rem;
    flex-wrap: wrap;
    letter-spacing: 0.5px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__subheader {
    font-size: 1.2rem;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1280px) {
  .hero__subheader {
    font-size: 1.5rem;
    flex-wrap: wrap;
    padding-left: 1.5rem;
  }
}
.hero__header {
  font-family: "Avenir Next";
  color: #fff;
  margin: 0rem 0rem 1.5rem 1rem;
  width: 300px;
}
@media screen and (min-width: 320px) {
  .hero__header {
    font-size: 2rem;
    flex-wrap: wrap;
    width: 300px;
    font-weight: 700;
    letter-spacing: 1px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__header {
    font-size: 2.9rem;
    flex-wrap: wrap;
    width: 420px;
    letter-spacing: 0.14rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__header {
    font-size: 3rem;
    letter-spacing: 0.14rem;
    width: 400px;
    font-weight: 800;
    padding: 0 1.5rem 1.5rem;
  }
}
.hero__iframe-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hero__iframe-container__iframe {
  border-radius: 0.25rem;
  box-shadow: 0.25rem 0.25rem 1rem black;
  zoom: 0.75;
}
@media screen and (min-width: 320px) {
  .hero__iframe-container {
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  .hero__iframe-container {
    width: 50%;
    padding: 0 0rem 0 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .hero__iframe-container {
    width: 40%;
    padding: 0 0 3rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero__iframe-container {
    width: 40%;
  }
}

/* Style for the table container */
.shows__section {
  color: #323232;
  margin: 1rem 0;
}
@media screen and (min-width: 768px) {
  .shows__section {
    margin: 3rem 0 2rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .shows__section {
    display: flex;
  }
}

.shows {
  font-size: 7vw;
  font-weight: 700;
  margin: 1rem;
  /* Style for the "Buy Tickets" button */
}
@media screen and (min-width: 320px) {
  .shows {
    font-size: 1.85rem;
    margin-bottom: 1rem;
    padding: 1.5rem 0 0 1rem;
  }
}
@media screen and (min-width: 768px) {
  .shows {
    font-size: 2.25rem;
    padding: 1rem 0 2rem 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    margin: 0 8rem;
  }
}
.shows__wrapper {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .shows__wrapper {
    flex-grow: 1;
    margin-right: 6rem;
  }
}
.shows__header-container {
  display: flex;
}
@media screen and (min-width: 768px) {
  .shows__header-container {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .shows__header-container {
    justify-content: space-between;
    padding: 2.5rem 20rem 2.5rem 0;
  }
}
.shows__header {
  color: #afafaf;
  font-size: 0.75rem;
  margin: 0;
  flex: 0.3;
  font-weight: bold;
  display: flex;
}
@media screen and (min-width: 1280px) {
  .shows__header {
    font-size: 1.1rem;
    align-content: center;
  }
}
@media screen and (min-width: 768px) {
  .shows__header {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows__header--media {
    display: flex;
    justify-content: flex-start;
    margin-left: 1rem;
    margin-right: 4rem;
    flex-grow: 0.2;
  }
}
@media screen and (max-width: 767px) {
  .shows__header--media {
    display: none;
  }
}
.shows__card {
  padding: 1rem;
  border-bottom: 1px solid #e1e1e1;
  /* Style for the selected row */
  /* Style for the hovered row */
}
@media screen and (min-width: 768px) {
  .shows__card {
    justify-content: space-between;
    display: inline-flex;
    align-items: baseline;
  }
}
.shows__card.selected {
  background-color: #f1f1f1;
}
.shows__card.hovered {
  background-color: #e2e2e2;
}
.shows__date {
  color: #afafaf;
  font-weight: 700;
  padding: 0.5rem 0 0.5rem 0;
}
@media screen and (min-width: 320px) {
  .shows__date {
    font-size: 0.85rem;
  }
}
@media screen and (min-width: 768px) {
  .shows__date {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .shows__date {
    display: none;
  }
}
.shows__date-text {
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (min-width: 320px) {
  .shows__date-text {
    padding-bottom: 0.5rem;
    padding-top: 0px;
  }
}
.shows__venue {
  color: #afafaf;
  font-weight: 700;
  padding: 0.5rem 0 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .shows__venue {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .shows__venue {
    display: none;
  }
}
@media screen and (min-width: 320px) {
  .shows__venue-text {
    font-weight: 600;
    padding-bottom: 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  .shows__venue-text {
    font-size: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.shows__location {
  color: #afafaf;
  font-weight: 700;
  display: flex;
  padding: 0.5rem 0 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .shows__location {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .shows__location {
    display: none;
  }
}
@media screen and (min-width: 320px) {
  .shows__location-text {
    font-weight: 600;
    padding: 0.5rem 0 1.7rem 0;
  }
}
@media screen and (min-width: 768px) {
  .shows__location-text {
    font-size: 90%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
    width: 150px;
    place-content: stretch;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.shows__button-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .shows__button-cell {
    margin-top: 1rem;
  }
}
.shows__button {
  width: 100%;
  height: 2.75rem;
  background-color: #323232;
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
}
@media screen and (min-width: 767px) {
  .shows__button {
    font-size: 1.2rem;
    height: 50px;
    width: 100%;
    font-weight: 600;
  }
}
@media screen and (min-width: 768px) {
  .shows__button {
    width: auto;
    min-width: -moz-fit-content;
    min-width: fit-content;
    padding: 0 2rem;
  }
}
.footer {
  background-color: #323232;
}
@media screen and (min-width: 320px) {
  .footer {
    padding: 0.5rem 1rem;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 2rem 0rem 2rem 1rem;
    position: relative;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 3rem 4rem 3rem 4rem;
  }
}
.footer__social, .footer__social-header {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}
@media screen and (min-width: 320px) {
  .footer__social, .footer__social-header {
    margin-bottom: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__social, .footer__social-header {
    font-size: 2.25rem;
    display: inline-flex;
    align-items: baseline;
    margin-bottom: 0rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__social, .footer__social-header {
    margin-bottom: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .footer #footerHeader {
    margin: 1rem 0 0 0;
    padding: 0 0.5rem 0 1rem;
    display: inline-flex;
  }
}
@media screen and (min-width: 1280px) {
  .footer #footerHeader {
    margin: 1rem 0 0 0;
    padding: 0 2.5rem 0 1.5rem;
    display: inline-flex;
  }
}
@media screen and (min-width: 320px) {
  .footer__social-icon {
    width: 2.4rem;
    height: 1.6rem;
    padding: 0 1rem 0 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__social-icon {
    width: 2.2rem;
    height: 1.5rem;
    padding: 0 0rem 0 1rem;
  }
}
.footer__contact {
  margin: 1.5rem 0 0rem 0;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: flex-start;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.9rem;
    display: inline-flex;
    padding: 0.3rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contact {
    width: 70%;
  }
}
.footer__contact-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-right: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__contact-container {
    display: flex;
    padding: 1rem;
  }
}
.footer__contact-name {
  font-weight: 600;
  line-height: 24px;
  padding-right: 2rem;
}
.footer__contact-text {
  line-height: 24px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer__contact-text {
    margin: 1rem 0;
  }
}
.footer__contact-hyperlink {
  text-decoration: none;
}
.footer__contact-email {
  color: #fff;
}
.footer__logo {
  width: 7.5rem;
  padding-top: 2.6rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    position: absolute;
    top: 3.75rem;
    right: 2.25rem;
    padding: 0 0 0 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    right: 8rem;
  }
}
.footer__copyright {
  font-size: 0.7rem;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 0.9rem;
    padding-left: 1.2rem;
  }
}/*# sourceMappingURL=shows.css.map */