/*======================= Colors ======================= */

$dark-text: #323232;
$secondary-text: #afafaf;
$light-text: #fff;

$dark-background-color: #323232;
$light-background-color: #fff;
$light-background-color-alt: #fafafa;

$border-color: #e1e1e1;

/*======================= Media Breakpoints ======================= */

$desktop: 1280px;
$tablet: 768px;
$mobile: 320px;
